html{
  scroll-behavior: smooth;
}

/* banner section start */
.bannerImg{
  animation: imgAng 3s infinite;
  -webkit-animation: imgAng 3s infinite;
}

@keyframes imgAng {
  0%{
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}
  50%{
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
}
  100%{
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}
}

/* banner section end */

/* service section start */

@keyframes showBox{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

.contentBox{
  animation: showBox linear;
  -webkit-animation: showBox linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* service section end */